<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccountMapper">
    <select id="selectMybatisDemo" resultType="cnnice.com.MyBatisDemo">
        select * from mybatis_demo where id = #{id}
    </select>

    <select id="selectMyBatisDemoAll" resultType="cnnice.com.MyBatisDemo">
        select * from mybatis_demo
    </select>

    <insert id="addMyBatisDemo">
        insert into mybatis_demo (name,age) values (#{name},#{age})
    </insert>

    <delete id="deleteMyBatisDemo">
        delete from mybatis_demo where name=#{name}
    </delete>

    <update id="updateMyBatisDemo">
        update mybatis_demo set name=#{name} where id = #{id}
    </update>
</mapper>
